[Unit]
Description=PrintJoy Kiosk Interface
After=network.target graphical.target
Wants=graphical.target

[Service]
User=pi
WorkingDirectory=/home/ijas/printbot1
Environment=DISPLAY=:0
Environment=KIVY_NO_CONSOLELOG=1
ExecStart=/home/ijas/printbot1/venv/bin/python3 kiosk/main.py
Restart=always
RestartSec=3
WatchdogSec=10
StandardOutput=append:/home/ijas/printjoy_logs/kiosk.log
StandardError=append:/home/ijas/printjoy_logs/kiosk_error.log

[Install]
WantedBy=graphical.target
