[Unit]
Description=PrintJoy Backend Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/ijas/printbot1
ExecStart=/home/ijas/printbot1/venv/bin/uvicorn web.main:app --host 0.0.0.0 --port 8000 --workers 1 --loop asyncio --log-level warning
Restart=always
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
